:root {
    --colorTitle: #efefef;
    --colorHeader: #7e2d7a;
    --colorContent: #8f3f84;
    --b1: #f38436;
}
.h100vh {
    height: 100vh;
}
#interactiveNewspapper {
    overflow: hidden;
}
#interactiveNewspapper h3 {
    font-weight: bold;
    text-transform: uppercase;
    background: var(--colorTitle);
    display: inline-block;
    margin: 0px;
    font-size: 25px;
    padding: 5px 50px;
    color: var(--colorHeader);
}
#interactiveNewspapper h3::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 22px 0 0;
    border-color: var(--colorTitle) transparent transparent transparent;
    position: absolute;
    top: 0px;
    margin-left: 50px;
    padding-left: 10px;
}
#interactiveNewspapper .title {
    background: var(--colorHeader);
    position: relative;
}
#interactiveNewspapper .cNewspapper {
    background: var(--colorContent);
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-template-rows: auto;
    grid-template-areas: "textIntro pappers""maps pappers";
}

/*carousel Maps */
#carouselNewspapper {
    background: var(--colorContent);
    padding: 30px;
    display: none;
}
#carouselNewspapper .textResponsive {
    color: #fff;
    padding-left: 10px;
}
#carouselNewspapper h4 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0px;
    line-height: .9;
}
#carouselNewspapper p {
    font-size: 15px;
}
#carouselNewspapper .carousel-item div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#carouselNewspapper .carousel-item img {
    height: 200px;
    padding: 6px;
    filter: brightness(100);
}

#carouselNewspapper .carousel-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 17px;
    text-align: center;
    color: #fff;
    text-decoration: none; 
    line-height: .9; 

}
#carouselNewspapper .carousel-item a:hover img {
    filter: brightness(1);
}
#carouselNewspapper .carousel-item a:hover {
    color: #ffcc29;
}
#carouselNewspapper .carousel-item a span {
    margin-bottom:-16px;

}
#carouselNewspapper .o {
    opacity: 0;
}
#carouselNewspapper .carousel-inner {
    height: 200px;
}
#carouselNewspapper .carousel-control-prev-icon { background-image:url('../img/left.svg');}
#carouselNewspapper .carousel-control-prev {left: -27px;}
#carouselNewspapper .carousel-control-next-icon { background-image:url('../img/right.svg');}
#carouselNewspapper .carousel-control-next {right: -27px;}


#interactiveNewspapper .cNewspapper div:first-of-type {
    padding-left: 50px;
    padding-top: 20px;
    color: #fff;
    grid-area: textIntro;
}
#interactiveNewspapper .cNewspapper h4 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0px;
    line-height: .7;
}
#interactiveNewspapper .cNewspapper p {
    font-size: 17px;
}
#interactiveNewspapper .cNewspapper div:nth-last-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0rem;
    grid-area: maps;
}
#interactiveNewspapper .cNewspapper div:nth-last-of-type(2) img {
    height: 100px;
    padding: 10px;
    filter: brightness(100);
}
#interactiveNewspapper .cNewspapper div:nth-last-of-type(2) a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    text-align: center;
    color: #fff;
    text-decoration: none;   
}
#interactiveNewspapper .cNewspapper div:nth-last-of-type(2) a:hover img {
    filter: brightness(1);
}
#interactiveNewspapper .cNewspapper div:nth-last-of-type(2) a:hover {
    color: #ffcc29;
}
#interactiveNewspapper .cNewspapper div:nth-last-of-type(2) span {
    height: 26px;
}
#interactiveNewspapper .cNewspapper div:nth-last-of-type(1) {
    grid-area: pappers;
}
#interactiveNewspapper .cNewspapper div:nth-last-of-type(1) img {
    margin-left: 57px;
    margin-bottom: -62px;
    margin-top: -38px;
    transform: translateZ(10px);
    animation: slide .5s;
}

@keyframes slide {
    0% {
        transform: translateX(600px) rotate(25deg);
    }
    100% {
        transform: translateY(1x) rotate(0deg);
    }
}
@media (max-width: 992px) {
    #interactiveNewspapper .cNewspapper, #carouselNewspapper {
        display: block;
    }
    #carouselNewspapper {
        overflow: hidden;
        height: 365px;
    }
    #interactiveNewspapper .cNewspapper {
        display: none;
    }
    #interactiveNewspapper h3 {
        padding: 10px 10px 10px 40px;
        font-size: 22px;
    }
    #interactiveNewspapper h3::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 46px 22px 0 0;
        border-color: var(--colorTitle) transparent transparent transparent;
        position: absolute;
        top: 0px;
        margin-left: 10px;
        padding-left: 10px;
    }

}

/* Grid Newspapper section */
#gridNewspapper .pappers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0rem;
}
#gridNewspapper .pappers img {
    height: 250px;
    width: 100%;
    border-radius: 30px;
    padding: 15px 15px;
    overflow: hidden;
    transition: .2s;
}
.pappers a {
    position: relative;
}
.pappers a:hover img{
    transform: scale(1.1);
    transition: .2s;
}
#gridNewspapper .pappers a:before {
    content: '';
    height: 100px;
    width: 100%;
    display: block;
    background: var(--b1);
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

#gridNewspapper .filter .closePanel {
    position: absolute;
    top: 6px;
    right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: red;
    display: flex;
    align-items: center;
}

#gridNewspapper .filter .textandImage {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
#gridNewspapper .filter {
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}
#gridNewspapper .filter .textandImage img {
    width: 115px;
}
#gridNewspapper .textAndForm {
    padding-left: 10px;
}
#gridNewspapper .textAndForm h3 {
    color: var(--b1);
    margin: 0;
    padding: 0;
    line-height: .8;
    font-size: 22px;
}
#gridNewspapper .textAndForm p {
    color: #000;
    margin: 0;
    padding: 5px 0 10px 0;
    font-size: 14px;
    line-height: 1;
}
#gridNewspapper .mapsMenu {
    padding: 0px 45px;

}
#gridNewspapper .mapsMenu h4 {
    color: #000;
    font-size: 15px;

}
#gridNewspapper .mapsMenu div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;

}
#gridNewspapper .mapsMenu div a {
    font-size: 11px;
    text-align: center;
    color: #000;
    text-decoration: none; 
    line-height: .9; 

}

#gridNewspapper .mapsMenu img {
    padding: 10px; 
}

@media (max-width: 992px) {
    #openMap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: rgb(0, 19, 128);
        position: absolute;
        right: 10px;
        top: 35px;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    #openMap img {
        filter:invert(1)
    }
    #gridNewspapper .pappers {
        grid-template-columns: 1fr 1fr;
    }
    #gridNewspapper .pappers img {
        height: 320px;
        width: 100%;
        border-radius: 30px;
        padding: 15px 15px;
        overflow: hidden;
        transition: .2s;        
    }
    #gridNewspapper .mapsMenu div {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.2rem;
    }
    #gridNewspapper .mapsMenu {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.2rem;
        position: absolute;
        top: 0;
        width: 0%;
        height: 0%;
        right: 0;
        padding: 0px;
        background: #fff;
        z-index: 1;
        overflow: hidden;
        transition: .3s;
    }
    .openMaps { width: 100%!important; height: 100vh!important; transition: .3s; padding: 10px;}
    #gridNewspapper .mapsMenu h4 {
        color: #000;
        font-size: 20px;
        text-align: center;
        margin: 18px 15px;
        font-weight: bold;
        text-transform: uppercase;   
    }
    #gridNewspapper .filter .textandImage {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #gridNewspapper .filter {
        position: relative;
    }
    #gridNewspapper .filter .textandImage img {
        width: 100px;
        padding-bottom: 10px;
    }
}